@font-face {
    font-family: bodyFontReg;
    src: url("./../font/TrajanPro-Bold.otf");
}
* {
margin: 0;
padding: 0;
}
html, body {
height: 100%;
}
.navigasi {
background-color: transparent;
border: transparent;
color: black;
padding: 3rem;
}
.navMenu {
font-size: 18px;
font-weight: bold;
color: goldenrod;
}
.font {
font-size: 18px;
font-weight: bold;
color: goldenrod;
}
.bg {
height:100%; 
background-repeat: no-repeat; 
background-image: url("./../img/bg_about us_estic.jpg");
background-size: cover;
background-attachment: fixed;
font-family: "bodyFontReg", sans-serif;
color: aliceblue;
}
.fontGoldNav {
    /* background: linear-gradient(to right, #ce7e3e, #ffff 47%, #ce7e3e 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    position: relative;
    text-transform: uppercase;	
    margin: 0; */
    font-size: 20px;
}
.dropdown-menu {
    background-color:  #a56231;
    border-radius: 0px;
    border: transparent;
    color: white;
    font-size: 0.8rem;
    letter-spacing: 2px;
}
.dropdown-menu li a{
color: aliceblue;
}
.dropdown-menu li a:hover {
background-color:  #ca783e;
color: aliceblue;
}