@font-face {
    font-family: bodyFontBaskerville;
    src: url(/font/BASKE9.ttf);
    font-weight: bold;
}
* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
.bodyTextGold {
    background: linear-gradient(to right, #ce7e3e 10%, #ffff 56%, #ce7e3e 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    position: relative;
    text-transform: uppercase;	
    margin: 0;
    font-family: "bodyFontBaskerville";
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}
.bodyTextGold1 {
    background: linear-gradient(to top, #ce7e3e 40%, #ffff 56%, #ce7e3e 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    position: relative;
    text-transform: uppercase;	
    margin: 0;
    font-family: "bodyFontBaskerville";
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}
.bg {
    height:100%; 
    background-repeat: no-repeat; 
    background-image: url("./../img/bg_live\ stream.jpg");
    background-size: cover;
    background-attachment: fixed;
    font-family: "bodyFontBaskerville";
    color:#573d28;
    background-position: center;
}
.btn {
  background-color: red; 
  text-decoration: none;
  color: whitesmoke;
  letter-spacing: 1px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 40px;
}
.lead {
  text-transform: initial;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  float: right;
  background-color: transparent;
  text-transform: lowercase;
  font-size: 23px;
}